.details {
  flex: 1;
}

.label {
  background-color: #F3F4F5;
  color: #687480;
  border-radius: 12px;
  padding: 4px 10px;
  line-height: 1;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}
